<div
  class="container"
  style="align-items: center; height: 95vh; display: flex;"
>
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <h1 class="text-warning" style="font-size: 5vw; font-weight: bold;">
        Hmm...
      </h1>
      <h5 class="font-italic text-secondary mb-5" style="font-size: 1.5vw;">
        Looks like we're missing something...
      </h5>
      <button
        type="button"
        class="shadow-sm rounded-pill btn btn-lg btn-secondary pl-4 pr-4 pt-3 pb-3"
        routerLink="/"
      >
        <span style="font-size: 1.5rem;">Back to Safety</span>
      </button>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        class="img-fluid"
        src="/assets/img/lost.svg"
        alt=""
        width="1024vw"
        height="1024vw"
        title="Lost"
      />
    </div>
  </div>
</div>
