<div class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-2">
        <h1 class="text-warning" style="font-size: 5rem; font-weight: bold;">
          Hmm...
        </h1>
        <h5 class="font-italic text-secondary" style="font-size: 2rem;">
          Looks like we're missing something...
        </h5>
        <hr />

        <button
          type="button"
          class="shadow-sm rounded-pill btn btn-secondary mt-2 mr-1 px-4 py-3"
          routerLink="/"
        >
          <span style="font-size: 1.5rem;">Back to Safety</span>
        </button>
      </div>
      <div class="col-md-5 offset-md-1">
        <img
          class="img-fluid"
          src="/assets/img/lost.svg"
          alt="Page Not Found"
          width="512rem"
          height="512rem"
          title="Page Not Found"
        />
      </div>
    </div>
  </div>
</div>
