<div *ngIf="selection === 'object'" class="vcenter">
  <div class="container" style="text-align: center;">
    <div
      *ngIf="loading"
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="!loading" class="row" style="text-align: start">
      <div class="col-md-12 mb-5">
        <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
          Select Associated Objects
        </h1>
        <button class="btn circle btn-secondary m-1" (click)="resetSelection()">
          <svg
            class="bi bi-arrow-left-short"
            width="2em"
            height="2em"
            viewBox="0 0 20 20"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M9.854 6.646a.5.5 0 010 .708L7.207 10l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M6.5 10a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H7a.5.5 0 01-.5-.5z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <div class="col-md-12">
        <ng-container class="col-md-2" *ngFor="let element of elements">
          <app-element-card
            containerClass="mb-3"
            [element]="element"
            [type]="selection"
            [btnClass]="element.selected ? 'btn-primary' : ''"
            (click)="selectElement(element)"
          ></app-element-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selection === 'group'" class="vcenter">
  <div class="container" style="text-align: center;">
    <div
      *ngIf="loading"
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="!loading" class="row" style="text-align: start">
      <div class="col-md-12 mb-5">
        <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
          Select Associated Groups
        </h1>
        <button class="btn circle btn-secondary m-1" (click)="resetSelection()">
          <svg
            class="bi bi-arrow-left-short"
            width="2em"
            height="2em"
            viewBox="0 0 20 20"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M9.854 6.646a.5.5 0 010 .708L7.207 10l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M6.5 10a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H7a.5.5 0 01-.5-.5z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <div class="col-md-12">
        <ng-container class="col-md-2" *ngFor="let element of elements">
          <app-element-card
            containerClass="mb-3"
            [element]="element"
            [type]="selection"
            [btnClass]="element.selected ? 'btn-primary' : ''"
            (click)="selectElement(element)"
          ></app-element-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!selection || selection === 'none'" class="vcenter">
  <div class="container" style="text-align: center;">
    <div
      *ngIf="loadingProject"
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="!loadingProject" class="row" style="text-align: start;">
      <div class="col-md-12 mb-5">
        <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
          Create Character
        </h1>

        <button
          class="btn circle btn-secondary m-1"
          [routerLink]="
            '/project/' + projectService.currentProject.id + '/characters'
          "
        >
          <svg
            class="bi bi-arrow-left-short"
            width="2em"
            height="2em"
            viewBox="0 0 20 20"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M9.854 6.646a.5.5 0 010 .708L7.207 10l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M6.5 10a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H7a.5.5 0 01-.5-.5z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <div class="col-md-6">
        <form>
          <app-card>
            <div class="col-md-12">
              <app-card-section title="General">
                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                  </div>
                  <input
                    type="text"
                    name="name"
                    [(ngModel)]="character.name"
                    class="form-control"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                  </div>
                  <input
                    type="text"
                    name="description"
                    [(ngModel)]="character.description"
                    class="form-control"
                  />
                </div>

                <button
                  type="button"
                  class="shadow-sm rounded-pill btn btn-success px-3 py-2"
                  (click)="createCharacter()"
                  [disabled]="!validateFields() || loadingCharacter"
                >
                  <span style="font-size: 1rem;">Confirm</span>
                </button>
              </app-card-section>
            </div>
          </app-card>
        </form>
      </div>

      <!-- <div class="col-md-6">
        <div
          class="card border-primary my-3"
          style="background-color: transparent;"
        >
          <div class="card-body">
            <h3 style="font-weight: bold; color: var(--text);">
              Associated Objects
            </h3>

            <p class="text-danger m-0" [hidden]="!objectError">
              {{ objectError }}
            </p>

            <button
              type="button"
              class="shadow-sm rounded-pill btn btn-primary px-3 py-2"
              (click)="setSelection('object')"
            >
              <span style="font-size: 1rem;">Edit</span>
            </button>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-md-6">
        <div
          class="card border-primary my-3"
          style="background-color: transparent;"
        >
          <div class="card-body">
            <h3 style="font-weight: bold; color: var(--text);">
              Associated Groups
            </h3>

            <p class="text-danger m-0" [hidden]="!groupError">
              {{ groupError }}
            </p>

            <button
              type="button"
              class="shadow-sm rounded-pill btn btn-primary px-3 py-2"
              (click)="setSelection('group')"
            >
              <span style="font-size: 1rem;">Edit</span>
            </button>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
