<app-card>
  <div class="row">
    <div class="col-md-10">
      <h1 class="text-wrap">{{ object.name }}</h1>
      <h5 class="font-italic text-secondary text-wrap">
        {{ object.description }}
      </h5>
    </div>

    <div class="col-md-2 align-self-center">
      <app-circle-button
        icon="view"
        tooltip="Select Object"
        containerClass="btn-secondary m-1"
        (click)="selectObject()"
      >
      </app-circle-button>

      <app-circle-button
        icon="delete"
        tooltip="Delete Object"
        containerClass="btn-danger m-1"
        (click)="deleteObject()"
      >
      </app-circle-button>
    </div>
  </div>
</app-card>
