<div style="align-items: center; height: 95vh; display: flex;">
  <div class="container" style="text-align: center;">
    <div
      *ngIf="loadingProjects"
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>

    <app-no-content
      *ngIf="loadingProjects && (!projects || projects.length < 1)"
      title="Projects"
      subtitle="We can't find any of your projects."
      createButtonText="Create Project"
      createButtonLink="/projects/create"
      altButtonText="Sign out"
      altButtonLink="/logout"
      imagePath="/assets/img/empty.svg"
      imageTitle="empty"
      imageAlt="empty"
    ></app-no-content>

    <div
      *ngIf="!loadingProjects && projects && projects.length > 0"
      class="row"
      style="text-align: start;"
    >
      <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
        All Projects
      </h1>
      <app-project-card
        class="col-md-12 card"
        *ngFor="let project of projects"
        [project]="project"
      >
      </app-project-card>
    </div>
  </div>
</div>
