<div class="center">
  <div class="container" style="text-align: center;">
    <div
      *ngIf="loadingProjects"
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>

    <app-no-content
      *ngIf="
        !loadingProjects &&
        (!projectService.projects || projectService.projects.length < 1)
      "
      title="Projects"
      style="text-align: start;"
      subtitle="We can't find any of your projects."
      createButtonText="Create Project"
      createButtonLink="/projects/create"
      altButtonText="Sign out"
      altButtonLink="/logout"
      imagePath="/assets/img/empty.svg"
      imageTitle="empty"
      imageAlt="empty"
    ></app-no-content>

    <div
      *ngIf="
        !loadingProjects &&
        projectService.projects &&
        projectService.projects.length > 0
      "
      class="row"
    >
      <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
        All Projects
      </h1>
    </div>

    <div
      class="row my-3"
      style="text-align: start;"
      *ngFor="let project of projectService.projects"
    >
      <app-project-card class="col-md-12" [project]="project">
      </app-project-card>
    </div>

    <div class="row">
      <div class="col-md-12 my-2" style="text-align: start;">
        <button
          *ngIf="
            !loadingProjects &&
            projectService.projects &&
            projectService.allProjects.length < 3 &&
            projectService.projects.length > 0
          "
          type="button"
          class="shadow-sm rounded-pill btn btn-primary mx-2 "
          routerLink="/projects/create"
        >
          <span style="font-size: 1;">New Project +</span>
        </button>
      </div>
    </div>
  </div>
</div>
