
<div class="container">
  <form class="signin" (submit)="onLoginSubmit()">

      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Email address">

      <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Password">

      <button class="btn btn-lg btn-primary btn-block">
        Login
      </button>

      <a class="nav-link"
        [routerLink]="['/reset']">Reset Password</a>

  </form>
<div>
