<!-- 
Email: {type:String, unique:true},
     Nickname:String,
     Password:String,
     Color:String,
     Hashed_password:String,
     Project: [{ type: Schema.Types.ObjectId, ref: 'Project' }],
     SignUpDate: Date,
     SecurityQuestion: Number,
     SecurityAnswer: String,
 -->

<div class="container m-3">
  <h2>Login</h2>

  <div class="card border-primary">
    <div class="card-body">
      <div class="card-title"><h4>Credentials</h4></div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email">Email</span>
        </div>
        <input
          type="email"
          class="form-control"
          aria-label="Email"
          aria-describedby="email"
        />
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="password">Password</span>
        </div>
        <input
          type="password"
          class="form-control"
          aria-label="Password"
          aria-describedby="password"
        />
      </div>
    </div>
  </div>
</div>
