.container {
  align-items: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 15%;
  border: 2px solid grey;
  border-radius: 10px;
}

.errorTextLarge {
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 90, 90);
}

.errorText {
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 90, 90);
}

input[type="email"] {
  margin-bottom: 20px;
}

input[type="password"] {
  margin-bottom: 20px;
}

.signin {
  margin: auto;
  max-width: 330px;
  width: 100%;
  padding: 15px;
}
