.circle {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0;
}

.not {
  margin-right: 10px;
}

.navbar {
  background-color: rgba(var(--background-rgb), .95);
}

.nav-link {
  color: var(--text-secondary) !important;
}

.active .nav-link {
  color: var(--text) !important;
}
