<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand text-primary font-weight-bold" routerLink="/">
    <img
      src="/assets/img/storyline-logo.svg"
      width="30"
      height="30"
      alt="Storline S logo"
    />
  </a>

  <button
    class="btn navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <svg
      class="bi bi-list"
      width="1.5em"
      height="1.5em"
      viewBox="0 0 16 16"
      fill="var(--text)"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
        clip-rule="evenodd"
      />
    </svg>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul
      *ngIf="authService.user && !projectService.currentProject"
      class="navbar-nav mr-auto"
    >
      <li [class]="(router.url == '/projects' ? 'active' : '') + ' nav-item'">
        <a class="nav-link" routerLink="/projects"
          >Projects
          <span *ngIf="router.url == '/projects'" class="sr-only">
            (current)
          </span>
        </a>
      </li>

      <li [class]="(router.url == '/archive' ? 'active' : '') + ' nav-item'">
        <a class="nav-link" routerLink="/archive"
          >Archive
          <span *ngIf="router.url == '/archive'" class="sr-only">
            (current)
          </span>
        </a>
      </li>

      <li [class]="(router.url == '/settings' ? 'active' : '') + ' nav-item'">
        <a class="nav-link" routerLink="/settings"
          >Settings
          <span *ngIf="router.url == '/settings'" class="sr-only">
            (current)
          </span>
        </a>
      </li>
    </ul>
    <ul
      *ngIf="authService.user && projectService.currentProject"
      class="navbar-nav"
    >
      <li
        [class]="
          (router.url == '/project/' + projectService.currentProject.id
            ? 'active'
            : '') + ' nav-item'
        "
      >
        <a
          class="nav-link"
          [routerLink]="'/project/' + projectService.currentProject.id"
          >Overview
          <span
            *ngIf="
              router.url === '/project/' + projectService.currentProject.id
            "
            class="sr-only"
          >
            (current)
          </span>
        </a>
      </li>

      <!-- <li
        [class]="
          (router.url ===
          '/project/' + projectService.currentProject.id + '/timeline'
            ? 'active'
            : '') + ' nav-item'
        "
      >
        <a
          class="nav-link"
          [routerLink]="
            '/project/' + projectService.currentProject.id + '/timeline'
          "
          >Timeline
          <span
            *ngIf="
              router.url ==
              '/project/' + projectService.currentProject.id + '/timeline'
            "
            class="sr-only"
          >
            (current)
          </span>
        </a>
      </li> -->

<!-- <li
        [class]="
          (router.url ===
          '/project/' + projectService.currentProject.id + '/events'
            ? 'active'
            : '') + ' nav-item'
        "
      >
        <a
          class="nav-link"
          [routerLink]="
            '/project/' + projectService.currentProject.id + '/events'
          "
          >Events
          <span
            *ngIf="
              router.url ==
              '/project/' + projectService.currentProject.id + '/events'
            "
            class="sr-only"
          >
            (current)
          </span>
        </a>
      </li> -->

<li [class]="
          (router.url ===
          '/project/' + projectService.currentProject.id + '/characters'
            ? 'active'
            : '') + ' nav-item'
        ">
  <a class="nav-link" [routerLink]="
            '/project/' + projectService.currentProject.id + '/characters'
          ">Characters
    <span *ngIf="
              router.url ==
              '/project/' + projectService.currentProject.id + '/characters'
            " class="sr-only">
      (current)
    </span>
  </a>
</li>

<li [class]="
          (router.url ===
          '/project/' + projectService.currentProject.id + '/places'
            ? 'active'
            : '') + ' nav-item'
        ">
  <a class="nav-link" [routerLink]="
            '/project/' + projectService.currentProject.id + '/places'
          ">Places
    <span *ngIf="
              router.url ==
              '/project/' + projectService.currentProject.id + '/places'
            " class="sr-only">
      (current)
    </span>
  </a>
</li>

<li [class]="
          (router.url ===
          '/project/' + projectService.currentProject.id + '/objects'
            ? 'active'
            : '') + ' nav-item'
        ">
  <a class="nav-link" [routerLink]="
            '/project/' + projectService.currentProject.id + '/objects'
          ">Objects
    <span *ngIf="
              router.url ==
              '/project/' + projectService.currentProject.id + '/objects'
            " class="sr-only">
      (current)
    </span>
  </a>
</li>

<li [class]="
          (router.url ===
          '/project/' + projectService.currentProject.id + '/groups'
            ? 'active'
            : '') + ' nav-item'
        ">
  <a class="nav-link" [routerLink]="
            '/project/' + projectService.currentProject.id + '/groups'
          ">Groups
    <span *ngIf="
              router.url ==
              '/project/' + projectService.currentProject.id + '/groups'
            " class="sr-only">
      (current)
    </span>
  </a>
</li>

<li [class]="(router.url == '/settings' ? 'active' : '') + ' nav-item'">
  <a class="nav-link" routerLink="/settings">Settings
    <span *ngIf="router.url == '/settings'" class="sr-only">
      (current)
    </span>
  </a>
</li>
</ul>

<ul class="navbar-nav ml-auto">
  <li *ngIf="authService.user" class="nav-item">
    <a class="nav-link" (click)="signout()" style="cursor: pointer;">
      <span class="text-danger">Sign Out</span>
    </a>
  </li>
  <li *ngIf="!authService.user" class="nav-item">
    <a class="nav-link" (click)="register()" style="cursor: pointer;">
      Register
    </a>
  </li>
  <li *ngIf="!authService.user" class="nav-item">
    <a class="nav-link" (click)="login()" style="cursor: pointer;">
      Login
    </a>
  </li>
  <li>
    <!-- TIME LINE TESTING IF I FORGET TO TAKE IT OFF TAKE IT OFF -->
    <button type="button" class="shadow-sm rounded-pill btn btn-secondary px-3 py-2" routerLink="/timeline"
      routerLinkActive="active">
      <span style="font-size: 1rem;">Timeline</span>
    </button>
  </li>
</ul>
</div>
</nav>