<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand text-primary font-weight-bold" routerLink="/">
    <img
      src="/assets/img/storyline-logo.svg"
      width="30"
      height="30"
      alt="Storline S logo"
    />
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul
      *ngIf="authService.user && !projectService.currentProject"
      class="navbar-nav"
    >
      <li [class]="(router.url == '/projects' ? 'active' : '') + ' nav-item'">
        <a class="nav-link" routerLink="/projects"
          >Projects
          <span *ngIf="router.url == '/projects'" class="sr-only">
            (current)
          </span>
        </a>
      </li>

      <li [class]="(router.url == '/settings' ? 'active' : '') + ' nav-item'">
        <a class="nav-link" routerLink="/settings"
          >Settings
          <span *ngIf="router.url == '/settings'" class="sr-only">
            (current)
          </span>
        </a>
      </li>
    </ul>
    <ul
      *ngIf="authService.user && projectService.currentProject"
      class="navbar-nav"
    >
      <li
        [class]="
          (router.url ==
          '/project/' + projectService.currentProject.id + '/characters'
            ? 'active'
            : '') + ' nav-item'
        "
      >
        <a class="nav-link" [routerLink]="'/project/' + projectService.currentProject.id + '/characters'"
          >Characters
          <span
            *ngIf="
              router.url ==
              '/project/' + projectService.currentProject.id + '/characters'
            "
            class="sr-only"
          >
            (current)
          </span>
        </a>
      </li>

      <li [class]="(router.url == '/settings' ? 'active' : '') + ' nav-item'">
        <a class="nav-link" routerLink="/settings"
          >Settings
          <span *ngIf="router.url == '/settings'" class="sr-only">
            (current)
          </span>
        </a>
      </li>
    </ul>
  </div>

  <!-- <button class="btn circle btn-info mr-3">
    <svg
      class="text-light"
      width="1.5rem"
      height="1.5rem"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
    <path fill-rule="evenodd" d="M16 5H4a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V6a1 1 0 00-1-1zM4 4a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2H4z" clip-rule="evenodd"/>
    <path fill-rule="evenodd" d="M2.071 6.243a.5.5 0 01.686-.172L10 10.417l7.243-4.346a.5.5 0 11.514.858L10 11.583 2.243 6.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"/>
    </svg>
  </button> -->

  <button
    *ngIf="!authService.user"
    type="button"
    class="shadow-sm rounded-pill btn btn-secondary px-3 py-2"
    routerLink="/login"
  >
    <span style="font-size: 1rem;">Login</span>
  </button>

  <button
    *ngIf="authService.user"
    type="button"
    class="shadow-sm rounded-pill btn btn-danger px-3 py-2"
    (click)="signout()"
  >
    <span style="font-size: 1rem;">Sign Out</span>
  </button>
</nav>
