<div style="align-items: center;height: 95vh; display: flex;">
  <div class="container" *ngIf="loadingProjects" style="text-align: center;">
    <div
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!loadingProjects" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
          Create Project
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <form class="signin" (submit)="onCreateProjectSubmit()">
          <app-card containerClass="shadow-sm my-5">
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
              </div>
              <input
                type="text"
                name="name"
                maxlength="50"
                [(ngModel)]="name"
                class="form-control"
                placeholder="Project Name"
              />
            </div>

            <div class="input-group my-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
              </div>
              <textarea
                name="description"
                maxlength="500"
                [(ngModel)]="description"
                class="form-control"
                placeholder="Project Description"
                aria-label="With textarea"
              ></textarea>
            </div>
          </app-card>

          <button
            type="submit"
            class="shadow-sm rounded-pill btn btn-lg btn-success px-3 py-2"
            [disabled]="!name || name.length < 5"
          >
            <span style="font-size: 1rem;">Complete</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
