<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/landing">Storyline</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0">
      <a
        routerLink="/login"
        [class]="
          (this.router.url == '/login' ? 'active ' : '') +
          'btn btn-primary btn-sm'
        "
      >
        Login
      </a>
      <a
        routerLink="/registration"
        [class]="
          (this.router.url == '/registration' ? 'active ' : '') +
          'btn btn-primary btn-sm ml-1'
        "
      >
        Registration
      </a>
    </form>
  </div>
</nav> -->

<app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
