<div class="center">
    <div class="container" style="text-align: center;">
      <div
        *ngIf="loadingEvents"
        class="spinner-grow text-primary"
        style="width: 5rem; height: 5rem;"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
  
      <app-no-content
        *ngIf="!loadingEvents && (!events || events.length < 1)"
        title="Events"
        style="text-align: start;"
        subtitle="We can't find events on this project."
        createButtonText="Create Event"
        createButtonLink="/events/create"
        disableCreateButton="true"
        projectsButton="true"
        altButtonText="Sign out"
        altButtonLink="/logout"
        imagePath="/assets/img/empty.svg"
        imageTitle="empty"
        imageAlt="empty"
      ></app-no-content>
  
      <div
        *ngIf="!loadingEvents && events && events.length > 0"
        class="row"
        style="text-align: start;"
      >
        <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
          All Events
        </h1>
  
        <div class="container">
          <div *ngIf="events && events.length > 0" class="row">
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <tr>
                    <th>Name</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  