
    <div class="card shadow-sm p-5">
      <div class="card-body p-5">
        <div class="container5">
          <div class="row">
            <div *ngIf="!imgSideRight" class="col-md-6">
              <img
                class="img-fluid"
                src="/assets/img/typewriter.svg"
                alt=""
                width="1024"
                height="1024"
                title="typewriter"
              />
            </div>

            <h1 class="col-md-6">
              Share your creations
            </h1>

            <div *ngIf="imgSideRight" class="col-md-6">
                <img
                  class="img-fluid"
                  src="/assets/img/typewriter.svg"
                  alt=""
                  width="1024"
                  height="1024"
                  title="typewriter"
                />
              </div>
          </div>
        </div>
      </div>
    </div>
