<div class="center">
  <div class="container" style="text-align: center;">
    <div
      *ngIf="loadingObjects"
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>

    <app-no-content
      *ngIf="
        !loadingObjects &&
        (!objectService.objects || objectService.objects.length < 1)
      "
      title="Objects"
      style="text-align: start;"
      subtitle="We can't find objects on this project."
      createButtonText="Create Object"
      [createButtonLink]="
        '/project/' + projectService.currentProject.id + '/objects/create'
      "
      projectsButton="true"
      altButtonText="Sign out"
      altButtonLink="/logout"
      imagePath="/assets/img/empty.svg"
      imageTitle="empty"
      imageAlt="empty"
    ></app-no-content>

    <div
      *ngIf="
        !loadingObjects &&
        objectService.objects &&
        objectService.objects.length > 0
      "
      class="row"
      style="text-align: start;"
    >
      <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
        All Objects
      </h1>
    </div>

    <div
      *ngIf="
        !loadingObjects &&
        objectService.objects &&
        objectService.objects.length > 0
      "
      class="row"
    >
      <app-circle-button
        [disabled]="objectService.objects && objectService.objects.length >= 20"
        icon="add"
        containerClass="btn circle btn-primary m-1"
        [btnLink]="
          '/project/' + projectService.currentProject.id + '/objects/create'
        "
      ></app-circle-button>
    </div>

    <ng-container *ngIf="!loadingObjects">
      <div class="row my-3" style="text-align: start;">
        <app-object-card
          *ngFor="let object of objectService.objects"
          class="col-md-4"
          [object]="object"
        >
        </app-object-card>
      </div>
    </ng-container>
  </div>
</div>
