<div class="container">
  <app-no-content
    *ngIf="!characters || characters.length < 1"
    style="align-items: center; height: 100vh; display: flex;"
    title="Characters"
    subtitle="We can't find characters on this project."
    createButtonText="Create Character"
    createButtonLink="/characters/create"
    altButtonText="Sign out"
    altButtonLink="/logout"
    imagePath="/assets/img/empty.svg"
    imageTitle="empty"
    imageAlt="empty"
  ></app-no-content>

  <div *ngIf="characters && characters.length > 0" class="row">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tr>
            <th>Name</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
