<app-card>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-wrap">{{ project.name }}</h1>
      <h5 class="font-italic text-secondary text-wrap">
        {{ project.description }}
      </h5>

      <app-circle-button
        icon="view"
        tooltip="Select Project"
        containerClass="btn-secondary m-1"
        (click)="selectProject()"
      >
      </app-circle-button>

      <app-circle-button
        icon="archive"
        tooltip="Archive Project"
        containerClass="btn-warning m-1"
        (click)="archiveProject()"
      >
      </app-circle-button>

      <app-circle-button
        icon="delete"
        tooltip="Delete Project"
        containerClass="btn-danger m-1"
        (click)="deleteProject()"
      >
      </app-circle-button>
    </div>
  </div>
</app-card>
