<div class="vcenter">
  <div class="container" style="text-align: center;">
    <div
      *ngIf="loadingProject"
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="!loadingProject" class="row" style="text-align: start;">
      <div class="col-md-12 mb-5">
        <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
          Project Overview
        </h1>

        <button class="btn circle btn-secondary m-1" routerLink="/projects">
          <svg
            class="bi bi-arrow-left-short"
            width="2em"
            height="2em"
            viewBox="0 0 20 20"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M9.854 6.646a.5.5 0 010 .708L7.207 10l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M6.5 10a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H7a.5.5 0 01-.5-.5z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <button
          class="btn circle btn-warning m-1 align-middle"
          (click)="archiveProject()"
        >
          <svg
            class="bi bi-power text-light"
            width="1.5em"
            height="1.5em"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M14.643 17C15.979 17 17 15.845 17 14.5V7H3v7.5C3 15.845 4.021 17 5.357 17h9.286zM8 9a.5.5 0 000 1h4a.5.5 0 000-1H8zM3 3a1 1 0 00-1 1v1.5a1 1 0 001 1h14a1 1 0 001-1V4a1 1 0 00-1-1H3z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <button class="btn circle btn-danger m-1" (click)="deleteProject()">
          <svg
            class="bi bi-power text-light"
            width="1.5em"
            height="1.5em"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M4.5 3a1 1 0 00-1 1v1a1 1 0 001 1H5v9a2 2 0 002 2h6a2 2 0 002-2V6h.5a1 1 0 001-1V4a1 1 0 00-1-1H12a1 1 0 00-1-1H9a1 1 0 00-1 1H4.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM10 7a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 0110 7zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <div class="col-md-6">
        <app-card>
          <div class="col-md-12">
            <app-card-section title="General">
              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Name</span>
                </div>
                <input
                  type="text"
                  name="name"
                  [(ngModel)]="project.name"
                  class="form-control"
                />
              </div>

              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Description</span>
                </div>
                <input
                  type="text"
                  name="description"
                  [(ngModel)]="project.description"
                  class="form-control"
                />
              </div>

              <button
                type="button"
                class="shadow-sm rounded-pill btn btn-success px-3 py-2"
                (click)="updateProject()"
                [disabled]="
                  ((project.name === projectService.currentProject.name ||
                    project.name.trim() === '') &&
                    (project.description ===
                      projectService.currentProject.description ||
                      project.description.trim() === '')) ||
                  project.name.trim() === '' ||
                  project.description.trim() === '' ||
                  updatingProject
                "
              >
                <span style="font-size: 1rem;">Update</span>
              </button>
            </app-card-section>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
