<div class="container">
    <div class="jumbotron text-center">
        <h1>Story Line</h1>
        <p class="lead">Welcome to Story Line</p>
    </div>
      
    <div class="row">
        <div class="col-md-4">
          <h3>Timeline</h3>
          <p>Utilize our application's timeline functionality to dynamically display your story's events, and changes to your elements</p>
        </div>
        <div class="col-md-4">
          <h3>Elements</h3>
          <p></p>
        </div>
        <div class="col-md-4">
          <h3>Events</h3>
          <p></p>
        </div>
    </div>
</div>

  