<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-primary" style="font-size: 14rem; font-weight: bold;">
        Storyline
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h1 id="typewriter" style="font-size: 3rem; font-weight: bold;"></h1>
      <hr />

      <h5
        class="font-italic mb-5"
        style="font-size: 2rem; color: var(--text-secondary);"
      >
        A web app to structure complex narratives in a digestible layout.
      </h5>

      <button
        type="button"
        class="shadow-sm rounded-pill btn btn-lg btn-primary pl-5 pr-5 pt-3 pb-3 "
        [routerLink]="authService.user ? '/projects' : ''"
        (click)="!authService.user ? alertService.register() : undefined"
      >
        <span *ngIf="!authService.user" style="font-size: 1.5rem;"
          >Get Started</span
        >
        <span *ngIf="authService.user" style="font-size: 1.5rem;"
          >Go to Projects</span
        >
      </button>
    </div>

    <div class="col-md-6 offset-md-1 mt-5">
      <img
        class="img-fluid"
        src="/assets/img/typewriter.svg"
        alt=""
        width="700rem"
        height="700rem"
        title="typewriter"
      />
    </div>
  </div>

  <!-- <div class="row pt-5 pb-5"></div> -->
</div>
