<div class="container">
  <form (submit)="onRegisterSubmit()" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>

    <p class="errorTextLarge">{{errors.all}}</p>

    <h4>General</h4>

    <label for="inputNickName" class="sr-only">Nickname</label>
    <input type="text" [(ngModel)]="nickName" name="Nickname"id="inputNickName" class="form-control" placeholder="Nickname" required autofocus>
    <p class="errorText">{{errors.nickName}}</p>

    <hr>
    <h4>Credentials</h4>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" [(ngModel)]="email" name="Email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <p class="errorText">{{errors.email}}</p>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" [(ngModel)]="password" name="Password" id="inputPassword" class="form-control" placeholder="Password" required>
    <p class="errorText">{{errors.password}}</p>

    <label for="inputPasswordRepeat" class="sr-only">Repeat Password</label>
    <input type="password" [(ngModel)]="repeatPassword" name="RepeatPassword" id="inputPasswordRepeat" class="form-control" placeholder="Repeat Password" required>
    <p class="errorText">{{errors.repeatPassword}}</p>

    <hr>
    <h4>Security</h4>
    <label for="securityQuestion" class="sr-only">Example select</label>
    <select class="form-control" [(ngModel)]="securityQuestion" name="Security_Question" required>
      <!-- <option selected>Please select a question?</option> -->
      <option value="0">What was your favourite pets name?</option>
      <option value="1">How many fingers am I holding up?</option>
      <option value="2">What is your mother's maiden name?</option>
      <option value="3">In what year was your favourite movie filmed?</option>
      <option value="4">What was the model of your first car?</option>
    </select>
    <p class="errorText">{{errors.securityQuestion}}</p>

    <label for="securityAnswer" class="sr-only">Security Answer</label>
    <input type="text" [(ngModel)]="securityAnswer" name="Security_Answer" id="securityAnswer" class="form-control" placeholder="securityAnswer" required>
    <p class="errorText">{{errors.securityAnswer}}</p>
    
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Submit</button>
  </form>
</div>


