<div class="vcenter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
          Settings
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Storyline Version {{ version }}</h5>

        <app-circle-button
          icon="info"
          tooltip="View Patch Notes"
          containerClass="btn-secondary m-1"
          (click)="viewPatchNotes()"
        >
        </app-circle-button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-card>
          <div class="col-md-12">
            <app-card-section title="Account">
              <form>
                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Nickname</span>
                  </div>
                  <input
                    type="text"
                    name="nickname"
                    maxlength="50"
                    [(ngModel)]="user.nickname"
                    class="form-control"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                  </div>
                  <input
                    type="text"
                    name="email"
                    [(ngModel)]="user.email"
                    class="form-control"
                    disabled
                  />
                </div>

                <button
                  type="button"
                  class="shadow-sm rounded-pill btn btn-primary px-3 py-2"
                  (click)="updateAccount()"
                  [disabled]="
                    user.nickname === authService.user.nickname ||
                    user.nickname.trim() === ''
                  "
                >
                  <span style="font-size: 1rem;">Save</span>
                </button>
              </form>
            </app-card-section>
          </div>
          <div class="col-md-12 pt-5">
            <app-card-section title="Send Feedback">
              <textarea
                class="form-control"
                [(ngModel)]="feedback"
                name="feedback"
                id="feedback"
                cols="30"
                rows="10"
                placeholder="Enter Feedback"
                maxlength="500"
              ></textarea>

              <p
                [class.text-danger]="!feedback || feedback.length < 10"
                class="text-secondary m-0"
                [hidden]="!feedback && feedback !== ''"
              >
                {{ (feedback ? feedback.length : 0) + " / 500" }}
              </p>

              <button
                type="button"
                class="shadow-sm rounded-pill btn btn-primary mt-2 px-3 py-2"
                [disabled]="
                  !feedback || feedback.length < 10 || sendingFeedback
                "
                (click)="submitFeedback()"
              >
                <span style="font-size: 1rem;">Send</span>
              </button>
            </app-card-section>
          </div>
        </app-card>
      </div>
      <!-- <div class="col-md-6">
        <app-card>
          <div class="col-md-12">
            <app-card-section title="Update Password">
              <form>
                <div class="input-group mt-3 mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Current Password</span>
                  </div>
                  <input
                    type="text"
                    name="currentPassword"
                    class="form-control"
                    maxlength="32"
                    [(ngModel)]="currentPassword"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">New Password</span>
                  </div>
                  <input
                    type="text"
                    name="newPassword"
                    class="form-control"
                    maxlength="32"
                    [(ngModel)]="newPassword"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Confirm New Password</span>
                  </div>
                  <input
                    type="text"
                    name="newPassword"
                    class="form-control"
                    maxlength="32"
                    [(ngModel)]="confirmNewPassword"
                  />
                </div>

                <button
                  type="button"
                  class="shadow-sm rounded-pill btn btn-secondary px-3 py-2"
                  [disabled]="
                    !(
                      currentPassword &&
                      newPassword &&
                      confirmNewPassword &&
                      newPassword === confirmNewPassword
                    )
                  "
                  (click)="updatePassword()"
                >
                  <span style="font-size: 1rem;">Confirm</span>
                </button>
              </form>
            </app-card-section>
          </div>
          <div class="col-md-12 pt-5">
            <app-card-section title="Update Security Question">
              <h5
                *ngIf="error"
                class="text-danger mt-1"
                style="font-weight: bold;"
              >
                Error: {{ error }}
              </h5>
              <form>
                <h5
                  class="text-secondary mt-3"
                  style="font-style: italic; font-weight: bold;"
                >
                  {{ securityQuestions[user.securityQuestion] }}
                </h5>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Current Answer</span>
                  </div>
                  <input
                    type="text"
                    name="currentPassword"
                    maxlength="32"
                    class="form-control"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">New Question</span>
                  </div>
                  <select
                    class="custom-select"
                    name="Security_Question"
                    required
                  >
                    <option value="0"
                      >What was your favourite pets name?</option
                    >
                    <option value="1">How many fingers am I holding up?</option>
                    <option value="2"
                      >What is your mother's maiden name?</option
                    >
                    <option value="3"
                      >In what year was your favourite movie filmed?</option
                    >
                    <option value="4"
                      >What was the model of your first car?</option
                    >
                  </select>
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">New Answer</span>
                  </div>
                  <input type="text" name="newPassword" maxlength="50" class="form-control" />
                </div>

                <button
                  type="button"
                  class="shadow-sm rounded-pill btn btn-secondary px-3 py-2"
                  [disabled]="disableConfirmButton"
                >
                  <span style="font-size: 1rem;">Confirm</span>
                </button>
              </form>
            </app-card-section>
          </div>
        </app-card>
      </div> -->
    </div>
  </div>
</div>
