<div class="vcenter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary" style="font-size: 5rem; font-weight: bold;">
          Settings
        </h1>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="col-md-12">
              <h3 class="text-dark" style="font-weight: bold;">
                Account
                <span>
                  <svg
                    class="bi bi-person-fill"
                    width="1em"
                    height="1em"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5 16s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H5zm5-6a3 3 0 100-6 3 3 0 000 6z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </h3>
              <form>
                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Nickname</span>
                  </div>
                  <input
                    type="text"
                    name="nickname"
                    [(ngModel)]="user.nickname"
                    class="form-control"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                  </div>
                  <input
                    type="text"
                    name="email"
                    [(ngModel)]="user.email"
                    class="form-control"
                    disabled
                  />
                </div>

                <button
                  type="button"
                  class="shadow-sm rounded-pill btn btn-primary px-3 py-2"
                  (click)="updateAccount()"
                  [disabled]="
                    user.nickname === authService.user.nickname ||
                    user.nickname.trim() === ''
                  "
                >
                  <span style="font-size: 1rem;">Save</span>
                </button>
              </form>
            </div>
            <div class="col-md-12">
              <h3 class="mt-5 text-dark" style="font-weight: bold;">
                Send Feedback
                <span>
                  <svg
                    class="bi bi-envelope-fill"
                    width="1em"
                    height="1em"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.05 5.555L10 10.414l7.95-4.859A2 2 0 0016 4H4a2 2 0 00-1.95 1.555zM18 6.697l-5.875 3.59L18 13.743V6.697zm-.168 8.108l-6.675-3.926-1.157.707-1.157-.707-6.675 3.926A2 2 0 004 16h12a2 2 0 001.832-1.195zM2 13.743l5.875-3.456L2 6.697v7.046z"
                    />
                  </svg>
                </span>
              </h3>
              <textarea
                class="form-control"
                [(ngModel)]="feedback"
                name="feedback"
                id="feedback"
                cols="30"
                rows="10"
                placeholder="Enter Feedback"
                maxlength="500"
              ></textarea>

              <p
                [class.text-danger]="!feedback || feedback.length < 10"
                class="text-secondary m-0"
                [hidden]="!feedback && feedback !== ''"
              >
                {{ (feedback ? feedback.length : 0) + " / 500" }}
              </p>

              <button
                type="button"
                class="shadow-sm rounded-pill btn btn-primary mt-2 px-3 py-2"
                [disabled]="!feedback || feedback.length < 10 || sendingFeedback"
                (click)="submitFeedback()"
              >
                <span style="font-size: 1rem;">Send</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="col-md-12">
              <h3 class="text-dark" style="font-weight: bold;">
                Update Password
                <span
                  ><svg
                    class="bi bi-lock-fill"
                    width="1em"
                    height="1em"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect width="11" height="9" x="4.5" y="8" rx="2" />
                    <path
                      fill-rule="evenodd"
                      d="M6.5 5a3.5 3.5 0 117 0v3h-1V5a2.5 2.5 0 00-5 0v3h-1V5z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </h3>
              <form>
                <div class="input-group mt-3 mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Current Password</span>
                  </div>
                  <input
                    type="text"
                    name="currentPassword"
                    class="form-control"
                    [(ngModel)]="currentPassword"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">New Password</span>
                  </div>
                  <input
                    type="text"
                    name="newPassword"
                    class="form-control"
                    [(ngModel)]="newPassword"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Confirm New Password</span>
                  </div>
                  <input
                    type="text"
                    name="newPassword"
                    class="form-control"
                    [(ngModel)]="confirmNewPassword"
                  />
                </div>

                <button
                  type="button"
                  class="shadow-sm rounded-pill btn btn-secondary px-3 py-2"
                  [disabled]="
                    !(
                      currentPassword &&
                      newPassword &&
                      confirmNewPassword &&
                      newPassword === confirmNewPassword
                    )
                  "
                  (click)="updatePassword()"
                >
                  <span style="font-size: 1rem;">Confirm</span>
                </button>
              </form>
            </div>
            <div class="col-md-12">
              <h3 class="text-dark mt-5" style="font-weight: bold;">
                Update Security Question
                <span>
                  <svg
                    class="bi bi-question-fill"
                    width="1em"
                    height="1em"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.57 8.033H7.25C7.22 6.147 8.68 5.5 10.006 5.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H9.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </h3>
              <h5
                *ngIf="error"
                class="text-danger mt-1"
                style="font-weight: bold;"
              >
                Error: {{ error }}
              </h5>
              <form>
                <h5
                  class="text-secondary mt-3"
                  style="font-style: italic; font-weight: bold;"
                >
                  {{ securityQuestions[user.securityQuestion] }}
                </h5>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Current Answer</span>
                  </div>
                  <input
                    type="text"
                    name="currentPassword"
                    class="form-control"
                  />
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">New Question</span>
                  </div>
                  <select
                    class="custom-select"
                    name="Security_Question"
                    required
                  >
                    <!-- <option selected>Please select a question?</option> -->
                    <option value="0"
                      >What was your favourite pets name?</option
                    >
                    <option value="1">How many fingers am I holding up?</option>
                    <option value="2"
                      >What is your mother's maiden name?</option
                    >
                    <option value="3"
                      >In what year was your favourite movie filmed?</option
                    >
                    <option value="4"
                      >What was the model of your first car?</option
                    >
                  </select>
                </div>

                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">New Answer</span>
                  </div>
                  <input type="text" name="newPassword" class="form-control" />
                </div>

                <button
                  type="button"
                  class="shadow-sm rounded-pill btn btn-secondary px-3 py-2"
                  [disabled]="disableConfirmButton"
                >
                  <span style="font-size: 1rem;">Confirm</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
